body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.div {
  border: 1px solid red;
}

.Header-bar {
  background-color: #77ba99;
}

.Header-bar-brand {
  color: #283e48;
  font-size: 1.5rem;
}

.Header-login, .Header-login:active, .Header-login:visited {
  color: #283e48;
}

.Header-login:hover {
  text-decoration: underline;
}
