body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.div {
  border: 1px solid red;
}

.Header-bar {
  background-color: #59414D;
}

.Header-bar-brand {
  color: #B2AC82;
  font-size: 48px;
  font-family: 'Chicle', cursive;
}

.Header-login, .Header-login:active, .Header-login:visited {
  color: #B2AC82;
}

.header-text {
  color: #B2AC82;
}

.Header-login:hover {
  text-decoration: underline;
}

.modules {
  cursor: pointer;
  list-style-type: none;
  list-style-position: outside;
}

.lesson-item {
  cursor: pointer;
  list-style-type: decimal;
}

ul.modules {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;

}

ul.lesson-item {
  list-style-position: outside;
  list-style-type: decimal;
}

.active {
    background-color: #59414D;
}

.sidebar {
  background-color: #276A72;
  color: #B2AC82
}

.sidebar-header {
    font-family: 'Chicle', cursive;
}
